* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Mina, serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #4EB6FF;
}

.nav > ul {
    list-style-type: none;
    align-self: center; 
    
}

.product-image {
    width: 100%;
    max-width: 200px;
}



.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 70%;
    margin: auto;
}

.product-item-container {
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#search-product-input {
    width: 90%;
    margin: 1.5rem;
    margin-bottom: 0;
    padding: 0.75rem;
    text-align: left;
}

.h1-product-class {
    margin: 1rem;
}


@media screen and (max-width: 430px) {

    .nav {
        padding: 0.45rem 1rem;
    }

    #search-product-input {
        width: 90%;
        margin: 1.5rem;
        padding: 0.75rem;
        text-align: left;
    }
    .product-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
        gap: 10px;
    }
    
    .product-item-container {
        padding: 10px;
    }
}