/* css validates on https://jigsaw.w3.org/css-validator/validator */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Mina, serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #4EB6FF;
    padding: 0.5rem;
    height: 2.25rem;
}

.nav > ul {
    list-style-type: none;
    align-self: center; 
    
}

.product-image {
    width: 100%;
    max-width: 200px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 70%;
    margin: auto;
    gap: 4rem;
}

.product-item-container {
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 2rem;
}

/* have to set font again on inputs */
#search-product-input {
    font-family: Mina, serif;
    width: 90%;
    margin: 1.5rem;
    margin-bottom: 0;
    padding: 0.75rem;
    text-align: left;
}

.h1-product-class {
    margin: 1rem;
}

/* Hover effects */
.product-image, 
.product-item-container {
    transition: transform 0.4s ease-in-out;
}

.product-item-container:hover,
.product-image:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 430px) {

    .nav {
        padding: 0.45rem 0.75rem;
        height: 3rem;
        font-size: 1.25rem;
    }

    #search-product-input {
        width: 90%;
        margin: 1.5rem;
        padding: 0.75rem;
        text-align: left;
    }
    .product-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
        gap: 1rem;
    }
    .product-item-container {
        padding: 2rem;
    }
        /* Hover effects for mobile */
        .product-item-container:hover {
            transform: scale(1.05);
        }
}